*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	font-family: Open Sans, sans-serif; 
}

article#wrapper {
	min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
.text-black {
	color: #000;
}
.text_blue {
	color: #37a1dc;
}
.linkedin_hover:hover .text-black{
	color: #0077b5;
}
.fb_hover:hover .text-black{
	color: #4267b2;
}
.home.menu-link-active-color{
	color: #31a3dd!important;
}
.home:hover{
	color: #31a3dd !important;
	opacity: .7;
}
.career.menu-link-active-color {
	color: #e71a64!important;
}
.career:hover{
	color: #e71a64!important;
	opacity: .7;
}
.contact.menu-link-active-color,
.text_green{
	color: #cbd63d!important;
}
.contact:hover,
.text_green:hover{
	color: #cbd63d!important;
	opacity: .7;
}
.header_bg {
	background-repeat: no-repeat;
    background-size: cover;
}
.home_bg{
	background-image: url('../images/websiteWeb-bg.png');
}
.career_bg{
	background-image: url('../images/careers-bg.png');
}
.contact_bg{
	background-image: url('../images/contact-bg.png');
}
.vacancy_bg{
	background-image: url('../images/vacancy-bg.png');
}

.letter_space_7{
	letter-spacing: 7px;
}
.logo_width {
	width: 120px;
}
.responsive_width {
	width: 200px;
}
.f-s-24 {
	font-size: 24px;
}
.f-s-40 {
	font-size: 40px;
}
.line_h_1{
   	line-height: 1.1;
}
.grow {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.grow:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.gm-style-iw.gm-style-iw-c {
	max-width: 370px!important;
	border-radius: 0!important;
}
#googleMap{
	height: 400px;
}

/*@media*/

@media (max-width: 1440px) {
	.logo_width {
		width: 100px;
	}
}	

@media (max-width: 1400px) and (min-width:768px) {
	.responsive_width {
		width: 150px;
	}

}
@media (max-width: 768px) {
	.gm-style-iw-d {
		max-width: 300px!important;
	}
}
@media (max-width:400px) {
	.f-s-40{
		font-size: 30px;
	}
	.f-s-13 {
		font-size: 13px;
	}
}

@media (min-height: 656px) {
	#googleMap{
		height: 100%;
	}
}